 <div class="row" ng-controller="ListingsController" ng-init="find()">
        <div class="page-header">
            <ui-gmap-google-map center="map.center" zoom="map.zoom">
                <ui-gmap-markers models="listings" coords="'coordinates'" icon="'icon'" idkey="'_id'" >
                    <ui-gmap-windows show="show">
                      <div ng-non-bindable>
                        Name: {{name}}<br>
                        Code: {{code}}<br>
                        Address: {{address}}
                      </div>
                    </ui-gmap-windows>
                </ui-gmap-markers>
            </ui-gmap-google-map>
        </div>
</div>